@model CraCode.ModelLayer.Models.Student
@{
    ViewBag.Title = "StudentLogin";
}

<br />
<br />
<br />
<br />
<br />

<div class="col-lg-4 d-flex align-items-stretch">
    <hr />
    <h2>Student Login</h2>
    <hr />

    @using (Html.BeginForm("StudentLogin", "Account", FormMethod.Post))
    {

        <!-- Username -->
        <div class="row ">
            <div class="form-check-inline col-md-3">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="form-check-inline col-md-3">
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <br />

        <!-- Remember Me Checkbox -->
        <div class="row">
            <div class="form-check-inline col-md-3">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3"/>
                <label class="form-check-label" for="form2Example3">
                    Remember Me?
                </label>
            </div>
        </div>
        <br />

        <!-- Submit button -->
        <button type="submit" class="get-started-btn">Login In</button>
    }
</div>

<br />
<br />
<br />
<br />
<br />
