@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<br />
<br />
<h3> Contact Us on Following Details</h3>


<address>
    Khare Town<br />
    Dharampeth, Nagpur - 442201<br />
    <abbr title="Phone"></abbr>
    777-60-43432
</address>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@cracode.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@cracode.com</a>
</address>