
@{
    ViewBag.Title = "Trainer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trainer</h2>

<!-- ======= Trainers Section ======= -->
<section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Top Trending</h2>
            <p> Professors</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="~/Content/assets/img/trainers/mosh.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Mosh Hamedani</h4>
                        <span>Web Development</span>
                        <p>
                            I am Mosh Hamedani and I help ambitious developers take their coding skills to the next level.
                            Since I started teaching online 3 years ago, I’ve taught over 200,000 students in 192 countries
                            and my YouTube channel has been watched 5.7 million times.
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/mosh-hamedani/?originalSubdomain=au"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div> @*MOSH*@

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="~/Content/assets/img/trainers/tiff inTech.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>Tiffany in Tech</h4>
                        <span>Coding Expert</span>
                        <p>
                            Tiffany is in this software and coding industry for the last 7 years.
                            She completed his studies at Cambridge University.
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/tiffany-janzen/?originalSubdomain=ca"><i class="bi bi-linkedin"></i></a>
                            </div>
                    </div>
                </div>
            </div> @*Tiff in Tech*@

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="~/Content/assets/img/trainers/cs dojo.jpg" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4> CS Dojo</h4>
                        <span>Backend Development</span>
                        <p>
                            CS Dojo is an awesome online Professor for aspiring computer scientists and programmers.
                            It's like having your very own coding sensei who can guide you throughout your coding journey.
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/ykdojo/?originalSubdomain=ca"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div> @*CS DOjo*@

        </div>

    </div>
</section><!-- End Trainers Section -->
