@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>CraCode</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    @*Favicons*@
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head>
<!-- =======================================================
* Project Name: CraCode
* Updated: Mar 27 2023 with Bootstrap v5.2.3
* Project URL: https://github.com/AdilHusain-create/CraCode
* Developer: Adil Husain
* Reference :BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->


<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/Home/Index">CraCode</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            @*NAVBAR*@
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>

                    <li class="dropdown">
                        <a href="#"><span>EXPLORE</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li class="dropdown">
                                <a href="#"><span>Programming Languages</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Java </a></li>
                                    <li><a href="#">Python</a></li>
                                    <li><a href="#">C#</a></li>
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">C++</a></li>
                                </ul>
                            </li>   @*Programming Language Deep Dropdown*@

                            <li class="dropdown">
                                <a href="#"><span>Computer Science</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Java </a></li>
                                    <li><a href="#">Python</a></li>
                                    <li><a href="#">C#</a></li>
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">C++</a></li>
                                </ul>
                            </li>   @*CS Deep DropDown*@

                            <li class="dropdown">
                                <a href="#"><span>Data Science</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Java </a></li>
                                    <li><a href="#">Python</a></li>
                                    <li><a href="#">C#</a></li>
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">C++</a></li>
                                </ul>
                            </li>   @*Data Science Deep Dropdown*@

                            <li class="dropdown">
                                <a href="#"><span>AI & ML</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Java </a></li>
                                    <li><a href="#">Python</a></li>
                                    <li><a href="#">C#</a></li>
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">C++</a></li>
                                </ul>
                            </li>   @*Ai & ML Deep Dropdown*@

                            <li class="dropdown">
                                <a href="#"><span> </span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Java </a></li>
                                    <li><a href="#">Python</a></li>
                                    <li><a href="#">C#</a></li>
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">C++</a></li>
                                </ul>
                            </li>   @*Web Development*@

                            <li class="dropdown">
                                <a href="#"><span>App Development</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Java </a></li>
                                    <li><a href="#">Python</a></li>
                                    <li><a href="#">C#</a></li>
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">C++</a></li>
                                </ul>
                            </li>   @*App Development*@

                        </ul>
                    </li>

                    <li><a class="active" href="/Home/Index">Home</a></li>
                    <li><a href="/Home/About">About</a></li>
                    <li><a href="/Course/Courses">Courses</a></li>
                    <li><a href="/Home/Trainer">Trainers</a></li>
                    <li><a href="/Home/Events">Events</a></li>
                    <li><a href="/Home/Pricing">Pricing</a></li>
                    <li><a href="/Home/Contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            @*NAVBAR ENDS*@

            <a href="/Account/StudentLogin" class="get-started-btn">LogIn or SignIn</a>


        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Body Section ======= -->
    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>CraCode</h3>
                        <p>
                            Khare Town <br>
                            Nagpur, Maharashtra 440010<br>
                            INDIA <br><br>

                            <strong>Phone:</strong> +91 777-60-43432<br>
                            <strong>Email:</strong> support@cracode.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>Join CraCode Family! The Best way to keep in touch with Learning Technology and Career </p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>CraCode Inc</span></strong>
                    . All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://tinyurl.com/AdilHusain">Adil Husain</a>
                </div>
            </div>

            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>

</body>
<!-- ======= End Body Section ======= -->


</html>
